<!-- copyrights -->
<div class="copyrights">
  <div class="alert alert-white alert-dismissible fade show mb-0" role="alert">
    Curious about the original role of drama in democracy? <a href="mailto:james@brandapplause.com"
      class="underline mail-link">E-mail</a> us. This site is by <a href="https://www.macmillanfilms.com/"
      class="underline mail-link" target="_blank">MacMillan Films LLC</a>. Copyright MMXX.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<div class="modal fade" id="maillist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Get Latest Updates</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="https://send.pageclip.co/hpYFHY40zjAwCTzgO3WthNsXYr2lK5cm" class="pageclip-form"
          method="post">
          <!-- Replace these inputs with your own. Make sure they have a "name" attribute! -->
          <div class="row">
            <div class="col-12 form-group">
              <label>Enter Fullname</label>
              <input type="text" name="name" value="" class="form-control" />
            </div>
            <div class="col-12 form-group">
              <label>Enter EmailId</label>
              <input type="email" name="email" value="" class="form-control" />
            </div>
            <div class="col-12">
              <!-- This button will have a loading spinner. Keep the inner span for best results. -->
              <button type="submit" class="pageclip-form__submit btn btn-dark">
                <span>Send</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>