<!-- gallery -->
<div class="gallery" id="gallery">
  <div class="border-title-box">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="border-title">gallery</div>
        </div>
      </div>
    </div>
  </div>
  <div class="gallery-box">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center p-0">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-slide-number="0"
                aria-label="offering handcuffs modeling a new kind of policing" role="img">
                <img src="{{ '/assets/img/gallery/true-drama-01.jpg'  | relative_url }}" class="d-block w-100"
                  alt="Tatiana Galliher " data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="1" aria-label="jumping fire in a secret ritual" role="img">
                <img src="{{ '/assets/img/gallery/true-drama-02.jpg'  | relative_url }}" class="d-block w-100"
                  alt="Morgan Marcum " data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="2" aria-label="attempts escape from the Slashers nest"
                role="img">
                <img src="{{ '/assets/img/gallery/true-drama-03.jpg'  | relative_url }}" class="d-block w-100"
                  alt="Alanah Rafferty" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="3" aria-label="center stage in True Drama " role="img">
                <img src="{{ '/assets/img/gallery/true-drama-04.jpg'  | relative_url }}" class="d-block w-100"
                  alt="James Thomas" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="4" aria-label="deep underground in the private mausoleum"
                role="img">
                <img src="{{ '/assets/img/gallery/true-drama-05.jpg'  | relative_url }}" class="d-block w-100"
                  alt="Tatiana Galliher " data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="5"
                aria-label="Driving up to the Greenwich mansion modeled after the Château de Malmaison in French"
                role="img">
                <img src="{{ '/assets/img/gallery/true-drama-06.jpg'  | relative_url }}" class="d-block w-100"
                  alt="Tatiana Galliher " data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="6"
                aria-label="Officer Walsh approached the wealth Greenwich patron Mrs. Benedict" role="img">
                <img src="{{ '/assets/img/gallery/true-drama-07.jpg'  | relative_url }}" class="d-block w-100"
                  alt="Tatiana Galliher " data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="7"
                aria-label="a close-up of the new terrifying slasher mask with it's fish-like gaping mouth" role="img">
                <img src="{{ '/assets/img/gallery/true-drama-08.jpg'  | relative_url }}" class="d-block w-100"
                  alt="Yohan Belmin" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="8" aria-label="showing the climactic Exodus of the drama "
                role="img">
                <img src="{{ '/assets/img/gallery/true-drama-09.jpg'  | relative_url }}" class="d-block w-100"
                  alt="James Thomas" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="9"
                aria-label="Officer Walsh finds Dionysus in the rafters of the theater at the abandoned sanitarium "
                role="img">
                <img src="{{ '/assets/img/gallery/true-drama-10.jpg'  | relative_url }}" class="d-block w-100"
                  alt="Tatiana Galliher " data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="10"
                aria-label="Dionysus looks down from the rigging of the theater at the abandoned sanitarium "
                role="img">
                <img src="{{ '/assets/img/gallery/true-drama-11.jpg'  | relative_url }}" class="d-block w-100"
                  alt="James Thomas" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="11"
                aria-label="Sara's POV from inside a coffin, looking up at the terrifying masked slasher" role="img">
                <img src="{{ '/assets/img/gallery/true-drama-12.jpg'  | relative_url }}" class="d-block w-100"
                  alt="Scott Kozel" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="12"
                aria-label="A tracking shot of the slasher taking his female captive to his underground lair"
                role="img">
                <img src="{{ '/assets/img/gallery/true-drama-13.jpg'  | relative_url }}" class="d-block w-100"
                  alt="Scott Kozel" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="13"
                aria-label="Mr. B directs from the control room as Sara is chained to a rack before being tortured"
                role="img">
                <img src="{{ '/assets/img/gallery/true-drama-14.jpg'  | relative_url }}" class="d-block w-100"
                  alt="Aidan Laliberte " data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="14"
                aria-label="Sara begs through her prison bars of the slasher's lair" role="img">
                <img src="{{ '/assets/img/gallery/true-drama-15.jpg'  | relative_url }}" class="d-block w-100"
                  alt="Alanah Rafferty" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="15"
                aria-label="Detective Oliva and Officer Walsh drive to meet the writer of the slasher script"
                role="img">
                <img src="{{ '/assets/img/gallery/true-drama-16.jpg'  | relative_url }}" class="d-block w-100"
                  alt="Jose Ramos" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="16"
                aria-label=" Officer Walsh sees posters for Greek Dramas in the foyer of the theater at the abandoned sanitarium "
                role="img">
                <img src="{{ '/assets/img/gallery/true-drama-17.jpg'  | relative_url }}" class="d-block w-100"
                  alt="Tatiana Galliher " data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="17"
                aria-label="Officer Walsh hears something unnerving she approached the theater stage" role="img">
                <img src="{{ '/assets/img/gallery/true-drama-18.jpg'  | relative_url }}" class="d-block w-100"
                  alt="Tatiana Galliher " data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="18"
                aria-label="Dionsysos uses flash powder to create a distraction so he can avoid being tased by police"
                role="img">
                <img src="{{ '/assets/img/gallery/true-drama-19.jpg'  | relative_url }}" class="d-block w-100"
                  alt="James Thomas" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="19"
                aria-label="Sara feels someone is looking at her through the window, as she showers in the Slasher's house"
                role="img">
                <img src="{{ '/assets/img/gallery/true-drama-20.jpg'  | relative_url }}" class="d-block w-100"
                  alt="Alanah Rafferty" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="20"
                aria-label="The Greenwich Slasher wearing his mask and spying on the women in the shower" role="img">
                <img src="{{ '/assets/img/gallery/true-drama-21.jpg'  | relative_url }}" class="d-block w-100"
                  alt="Yohan Belmin" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="21"
                aria-label="Miss Ukraine and the other female victims try to stay save amid the chaos on set"
                role="img">
                <img src="{{ '/assets/img/gallery/true-drama-22.jpg'  | relative_url }}" class="d-block w-100"
                  alt="Katka Krajcovic " data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="22" aria-label="Detective Oliva in from of the crime board"
                role="img">
                <img src="{{ '/assets/img/gallery/true-drama-23.jpg'  | relative_url }}" class="d-block w-100"
                  alt="Jose Ramos" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="23"
                aria-label="Detective Oliva focuses on a picture of Dionysus on the crime board" role="img">
                <img src="{{ '/assets/img/gallery/true-drama-24.jpg'  | relative_url }}" class="d-block w-100"
                  alt="Jose Ramos" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>

            </div>
          </div>

          <!-- Carousel Navigation -->
          <div id="carousel-thumbs" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row mx-0">
                  <div id="carousel-selector-0" class="thumb col-4 col-sm-2 px-1 py-2 selected"
                    data-target="#myCarousel" data-slide-to="0"
                    aria-label="offering handcuffs modeling a new kind of policing" role="img">
                    <img src="{{ '/assets/img/gallery/thumb/true-drama-01.jpg'  | relative_url }}" class="img-fluid"
                      alt="Tatiana Galliher ">
                  </div>
                  <div id="carousel-selector-1" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="1" aria-label="jumping fire in a secret ritual " role="img">
                    <img src="{{ '/assets/img/gallery/thumb/true-drama-02.jpg'  | relative_url }}" class="img-fluid"
                      alt="Morgan Marcum ">
                  </div>
                  <div id="carousel-selector-2" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="2" aria-label="attempts escape from the Slashers nest" role="img">
                    <img src="{{ '/assets/img/gallery/thumb/true-drama-03.jpg'  | relative_url }}" class="img-fluid"
                      alt="Alanah Rafferty">
                  </div>
                  <div id="carousel-selector-3" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="3" aria-label="center stage in True Drama " role="img">
                    <img src="{{ '/assets/img/gallery/thumb/true-drama-04.jpg'  | relative_url }}" class="img-fluid"
                      alt="James Thomas">
                  </div>
                  <div id="carousel-selector-4" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="4" aria-label="deep underground in the private mausoleum" role="img">
                    <img src="{{ '/assets/img/gallery/thumb/true-drama-05.jpg'  | relative_url }}" class="img-fluid"
                      alt="Tatiana Galliher ">
                  </div>
                  <div id="carousel-selector-5" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="5"
                    aria-label="Driving up to the Greenwich mansion modeled after the Château de Malmaison in French"
                    role="img">
                    <img src="{{ '/assets/img/gallery/thumb/true-drama-06.jpg'  | relative_url }}" class="img-fluid"
                      alt="Tatiana Galliher ">
                  </div>

                </div>
              </div>
              <div class="carousel-item">
                <div class="row mx-0">
                  <div id="carousel-selector-6" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="6" aria-label="Officer Walsh approached the wealth Greenwich patron Mrs. Benedict"
                    role="img">
                    <img src="{{ '/assets/img/gallery/thumb/true-drama-07.jpg'  | relative_url }}" class="img-fluid"
                      alt="Tatiana Galliher ">
                  </div>
                  <div id="carousel-selector-7" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="7"
                    aria-label="a close-up of the new terrifying slasher mask with it's fish-like gaping mouth"
                    role="img">
                    <img src="{{ '/assets/img/gallery/thumb/true-drama-08.jpg'  | relative_url }}" class="img-fluid"
                      alt="Yohan Belmin">
                  </div>
                  <div id="carousel-selector-8" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="8" aria-label="showing the climactic Exodus of the drama " role="img">
                    <img src="{{ '/assets/img/gallery/thumb/true-drama-09.jpg'  | relative_url }}" class="img-fluid"
                      alt="James Thomas">
                  </div>
                  <div id="carousel-selector-9" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="9"
                    aria-label="Officer Walsh finds Dionysus in the rafters of the theater at the abandoned sanitarium "
                    role="img">
                    <img src="{{ '/assets/img/gallery/thumb/true-drama-10.jpg'  | relative_url }}" class="img-fluid"
                      alt="Tatiana Galliher ">
                  </div>
                  <div id="carousel-selector-10" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="10"
                    aria-label="Dionysus looks down from the rigging of the theater at the abandoned sanitarium "
                    role="img">
                    <img src="{{ '/assets/img/gallery/thumb/true-drama-11.jpg'  | relative_url }}" class="img-fluid"
                      alt="James Thomas">
                  </div>
                  <div id="carousel-selector-11" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="11"
                    aria-label="Sara's POV from inside a coffin, looking up at the terrifying masked slasher"
                    role="img">
                    <img src="{{ '/assets/img/gallery/thumb/true-drama-12.jpg'  | relative_url }}" class="img-fluid"
                      alt="Scott Kozel">
                  </div>

                </div>
              </div>

              <div class="carousel-item">
                <div class="row mx-0">
                  <div id="carousel-selector-12" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="12"
                    aria-label="A tracking shot of the slasher taking his female captive to his underground lair"
                    role="img">
                    <img src="{{ '/assets/img/gallery/thumb/true-drama-13.jpg'  | relative_url }}" class="img-fluid"
                      alt="Scott Kozel">
                  </div>
                  <div id="carousel-selector-13" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="13"
                    aria-label="Mr. B directs from the control room as Sara is chained to a rack before being tortured"
                    role="img">
                    <img src="{{ '/assets/img/gallery/thumb/true-drama-14.jpg'  | relative_url }}" class="img-fluid"
                      alt="Aidan Laliberte ">
                  </div>
                  <div id="carousel-selector-14" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="14" aria-label="Sara begs through her prison bars of the slasher's lair" role="img">
                    <img src="{{ '/assets/img/gallery/thumb/true-drama-15.jpg'  | relative_url }}" class="img-fluid"
                      alt="Alanah Rafferty">
                  </div>
                  <div id="carousel-selector-15" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="15"
                    aria-label="Detective Oliva and Officer Walsh drive to meet the writer of the slasher script"
                    role="img">
                    <img src="{{ '/assets/img/gallery/thumb/true-drama-16.jpg'  | relative_url }}" class="img-fluid"
                      alt="Jose Ramos">
                  </div>
                  <div id="carousel-selector-16" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="16"
                    aria-label=" Officer Walsh sees posters for Greek Dramas in the foyer of the theater at the abandoned sanitarium "
                    role="img">
                    <img src="{{ '/assets/img/gallery/thumb/true-drama-17.jpg'  | relative_url }}" class="img-fluid"
                      alt="Tatiana Galliher ">
                  </div>
                  <div id="carousel-selector-17" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="17"
                    aria-label="Officer Walsh hears something unnerving she approached the theater stage" role="img">
                    <img src="{{ '/assets/img/gallery/thumb/true-drama-18.jpg'  | relative_url }}" class="img-fluid"
                      alt="Tatiana Galliher ">
                  </div>

                </div>
              </div>

              <div class="carousel-item">
                <div class="row mx-0">
                  <div id="carousel-selector-18" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="18"
                    aria-label="Dionsysos uses flash powder to create a distraction so he can avoid being tased by police"
                    role="img">
                    <img src="{{ '/assets/img/gallery/thumb/true-drama-19.jpg'  | relative_url }}" class="img-fluid"
                      alt="James Thomas">
                  </div>
                  <div id="carousel-selector-19" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="19"
                    aria-label="Sara feels someone is looking at her through the window, as she showers in the Slasher's house"
                    role="img">
                    <img src="{{ '/assets/img/gallery/thumb/true-drama-20.jpg'  | relative_url }}" class="img-fluid"
                      alt="Alanah Rafferty">
                  </div>
                  <div id="carousel-selector-20" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="20"
                    aria-label="The Greenwich Slasher wearing his mask and spying on the women in the shower"
                    role="img">
                    <img src="{{ '/assets/img/gallery/thumb/true-drama-21.jpg'  | relative_url }}" class="img-fluid"
                      alt="Yohan Belmin">
                  </div>
                  <div id="carousel-selector-21" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="21"
                    aria-label="Miss Ukraine and the other female victims try to stay save amid the chaos on set"
                    role="img">
                    <img src="{{ '/assets/img/gallery/thumb/true-drama-22.jpg'  | relative_url }}" class="img-fluid"
                      alt="Katka Krajcovic ">
                  </div>
                  <div id="carousel-selector-22" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="22" aria-label="Detective Oliva in from of the crime board" role="img">
                    <img src="{{ '/assets/img/gallery/thumb/true-drama-23.jpg'  | relative_url }}" class="img-fluid"
                      alt="Jose Ramos">
                  </div>
                  <div id="carousel-selector-23" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="23" aria-label="Detective Oliva focuses on a picture of Dionysus on the crime board"
                    role="img">
                    <img src="{{ '/assets/img/gallery/thumb/true-drama-24.jpg'  | relative_url }}" class="img-fluid"
                      alt="Jose Ramos">
                  </div>

                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-thumbs" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-thumbs" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>