<!-- gallery -->
<div class="gallery" id="gallery">
  <div class="border-title-box">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="border-title text-uppercase">Gallery</div>
        </div>
      </div>
    </div>
  </div>
  <div class="gallery-box">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center p-0">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-slide-number="0" aria-label="{{ page.g01dsc }}" role="img">
                <img src="{{ page.g01 | relative_url }}"
                  class="d-block w-100" alt="{{ page.g01alt }}" loading="lazy" decoding="async">
              </div>
              <div class="carousel-item" data-slide-number="1" aria-label="{{ page.g02dsc }}" role="img">
                <img src="{{ page.g02 | relative_url }}"
                  class="d-block w-100" alt="{{ page.g02alt }}" loading="lazy" decoding="async">
              </div>
              <div class="carousel-item" data-slide-number="2" aria-label="{{ page.g03dsc }}" role="img">
                <img src="{{ page.g03 | relative_url }}"
                  class="d-block w-100" alt="{{ page.g03alt }}" loading="lazy" decoding="async">
              </div>
              <div class="carousel-item" data-slide-number="3" aria-label="{{ page.g04dsc }}" role="img">
                <img src="{{ page.g04 | relative_url }}"
                  class="d-block w-100" alt="{{ page.g04alt }}" loading="lazy" decoding="async">
              </div>
              <div class="carousel-item" data-slide-number="4" aria-label="{{ page.g05dsc }}" role="img">
                <img src="{{ page.g05 | relative_url }}"
                  class="d-block w-100" alt="{{ page.g05alt }}" loading="lazy" decoding="async">
              </div>
              <div class="carousel-item" data-slide-number="5" aria-label="{{ page.g06dsc }}" role="img">
                <img src="{{ page.g06 | relative_url }}"
                  class="d-block w-100" alt="{{ page.g06alt }}" loading="lazy" decoding="async">
              </div>
              <div class="carousel-item" data-slide-number="6" aria-label="{{ page.g07dsc }}" role="img">
                <img src="{{ page.g07 | relative_url }}"
                  class="d-block w-100" alt="{{ page.g07alt }}" loading="lazy" decoding="async">
              </div>
              <div class="carousel-item" data-slide-number="7" aria-label="{{ page.g08dsc }}" role="img">
                <img src="{{ page.g08 | relative_url }}"
                  class="d-block w-100" alt="{{ page.g08alt }}" loading="lazy" decoding="async">
              </div>
              <div class="carousel-item" data-slide-number="8" aria-label="{{ page.g09dsc }}" role="img">
                <img src="{{ page.g09 | relative_url }}"
                  class="d-block w-100" alt="{{ page.g09alt }}" loading="lazy" decoding="async">
              </div>
              <div class="carousel-item" data-slide-number="9" aria-label="{{ page.g10dsc }}" role="img">
                <img src="{{ page.g10 | relative_url }}"
                  class="d-block w-100" alt="{{ page.g10alt }}" loading="lazy" decoding="async">
              </div>
              <div class="carousel-item" data-slide-number="10" aria-label="{{ page.g11dsc }}" role="img">
                <img src="{{ page.g11 | relative_url }}"
                  class="d-block w-100" alt="{{ page.g11alt }}" loading="lazy" decoding="async">
              </div>
              <div class="carousel-item" data-slide-number="11" aria-label="{{ page.g12dsc }}" role="img">
                <img src="{{ page.g12 | relative_url }}"
                  class="d-block w-100" alt="{{ page.g12alt }}" loading="lazy" decoding="async">
              </div>
              <div class="carousel-item" data-slide-number="12" aria-label="{{ page.g13dsc }}" role="img">
                <img src="{{ page.g13 | relative_url }}"
                  class="d-block w-100" alt="{{ page.g13alt }}" loading="lazy" decoding="async">
              </div>
              <div class="carousel-item" data-slide-number="13" aria-label="{{ page.g14dsc }}" role="img">
                <img src="{{ page.g14 | relative_url }}"
                  class="d-block w-100" alt="{{ page.g14alt }}" loading="lazy" decoding="async">
              </div>
              <div class="carousel-item" data-slide-number="14" aria-label="{{ page.g15dsc }}" role="img">
                <img src="{{ page.g15 | relative_url }}"
                  class="d-block w-100" alt="{{ page.g15alt }}" loading="lazy" decoding="async">
              </div>
              <div class="carousel-item" data-slide-number="15" aria-label="{{ page.g16dsc }}" role="img">
                <img src="{{ page.g16 | relative_url }}"
                  class="d-block w-100" alt="{{ page.g16alt }}" loading="lazy" decoding="async">
              </div>
              <div class="carousel-item" data-slide-number="16" aria-label="{{ page.g17dsc }}" role="img">
                <img src="{{ page.g17 | relative_url }}"
                  class="d-block w-100" alt="{{ page.g17alt }}" loading="lazy" decoding="async">
              </div>
              <div class="carousel-item" data-slide-number="17" aria-label="{{ page.g18dsc }}" role="img">
                <img src="{{ page.g18 | relative_url }}"
                  class="d-block w-100" alt="{{ page.g18alt }}" loading="lazy" decoding="async">
              </div>
              <div class="carousel-item" data-slide-number="18" aria-label="{{ page.g19dsc }}" role="img">
                <img src="{{ page.g19 | relative_url }}"
                  class="d-block w-100" alt="{{ page.g19alt }}" loading="lazy" decoding="async">
              </div>
              <div class="carousel-item" data-slide-number="19" aria-label="{{ page.g20dsc }}" role="img">
                <img src="{{ page.g20 | relative_url }}"
                  class="d-block w-100" alt="{{ page.g20alt }}" loading="lazy" decoding="async">
              </div>
              <div class="carousel-item" data-slide-number="20" aria-label="{{ page.g21dsc }}" role="img">
                <img src="{{ page.g21 | relative_url }}"
                  class="d-block w-100" alt="{{ page.g21alt }}" loading="lazy" decoding="async">
              </div>
              <div class="carousel-item" data-slide-number="21" aria-label="{{ page.g22dsc }}" role="img">
                <img src="{{ page.g22 | relative_url }}"
                  class="d-block w-100" alt="{{ page.g22alt }}" loading="lazy" decoding="async">
              </div>
              <div class="carousel-item" data-slide-number="22" aria-label="{{ page.g23dsc }}" role="img">
                <img src="{{ page.g23 | relative_url }}"
                  class="d-block w-100" alt="{{ page.g23alt }}" loading="lazy" decoding="async">
              </div>
              <div class="carousel-item" data-slide-number="23" aria-label="{{ page.g24dsc }}" role="img">
                <img src="{{ page.g24 | relative_url }}"
                  class="d-block w-100" alt="{{ page.g24alt }}" loading="lazy" decoding="async">
              </div>

            </div>
          </div>

          <!-- Carousel Navigation -->
          <div id="carousel-thumbs" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row mx-0">
                  <div id="carousel-selector-0" class="thumb col-4 col-sm-2 px-1 py-2 selected"
                    data-target="#myCarousel" data-slide-to="0" aria-label="{{ page.g01dsc }}" role="img">
                    <img
                      src="{{ page.g01thumb | relative_url }}"
                      class="img-fluid" loading="lazy" decoding="async" alt="{{ page.g01alt }}">
                  </div>
                  <div id="carousel-selector-1" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="1" aria-label="{{ page.g02dsc }}" role="img">
                    <img
                      src="{{ page.g02thumb | relative_url }}"
                      class="img-fluid" loading="lazy" decoding="async" alt="{{ page.g02alt }}">
                  </div>
                  <div id="carousel-selector-2" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="2" aria-label="{{ page.g03dsc }}" role="img">
                    <img
                      src="{{ page.g03thumb | relative_url }}"
                      class="img-fluid" loading="lazy" decoding="async" alt="{{ page.g03alt }}">
                  </div>
                  <div id="carousel-selector-3" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="3" aria-label="{{ page.g04dsc }}" role="img">
                    <img
                      src="{{ page.g04thumb | relative_url }}"
                      class="img-fluid" loading="lazy" decoding="async" alt="{{ page.g04alt }}">
                  </div>
                  <div id="carousel-selector-4" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="4" aria-label="{{ page.g05dsc }}" role="img">
                    <img
                      src="{{ page.g05thumb | relative_url }}"
                      class="img-fluid" loading="lazy" decoding="async" alt="{{ page.g05alt }}">
                  </div>
                  <div id="carousel-selector-5" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="5" aria-label="{{ page.g06dsc }}" role="img">
                    <img
                      src="{{ page.g06thumb | relative_url }}"
                      class="img-fluid" loading="lazy" decoding="async" alt="{{ page.g06alt }}">
                  </div>

                </div>
              </div>

              <div class="carousel-item ">
                <div class="row mx-0">
                  <div id="carousel-selector-6" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="6" aria-label="{{ page.g07dsc }}" role="img">
                    <img
                      src="{{ page.g07thumb | relative_url }}"
                      class="img-fluid" loading="lazy" decoding="async" alt="{{ page.g07alt }}">
                  </div>
                  <div id="carousel-selector-7" class="thumb col-4 col-sm-2 px-1 py-2 selected"
                    data-target="#myCarousel" data-slide-to="7" aria-label="{{ page.g08dsc }}" role="img">
                    <img
                      src="{{ page.g08thumb | relative_url }}"
                      class="img-fluid" loading="lazy" decoding="async" alt="{{ page.g08alt }}">
                  </div>
                  <div id="carousel-selector-8" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="8" aria-label="{{ page.g09dsc }}" role="img">
                    <img
                      src="{{ page.g09thumb | relative_url }}"
                      class="img-fluid" loading="lazy" decoding="async" alt="{{ page.g09alt }}">
                  </div>
                  <div id="carousel-selector-9" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="9" aria-label="{{ page.g10dsc }}" role="img">
                    <img
                      src="{{ page.g10thumb | relative_url }}"
                      class="img-fluid" loading="lazy" decoding="async" alt="{{ page.g10alt }}">
                  </div>
                  <div id="carousel-selector-10" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="10" aria-label="{{ page.g11dsc }}" role="img">
                    <img
                      src="{{ page.g11thumb | relative_url }}"
                      class="img-fluid" loading="lazy" decoding="async" alt="{{ page.g11alt }}">
                  </div>
                  <div id="carousel-selector-11" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="11" aria-label="{{ page.g12dsc }}" role="img">
                    <img
                      src="{{ page.g12thumb | relative_url }}"
                      class="img-fluid" loading="lazy" decoding="async" alt="{{ page.g12alt }}">
                  </div>

                </div>
              </div>

              <div class="carousel-item ">
                <div class="row mx-0">
                  <div id="carousel-selector-12" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="12" aria-label="{{ page.g13dsc }}" role="img">
                    <img
                      src="{{ page.g13thumb | relative_url }}"
                      class="img-fluid" loading="lazy" decoding="async" alt="{{ page.g13alt }}">
                  </div>
                  <div id="carousel-selector-13" class="thumb col-4 col-sm-2 px-1 py-2 selected"
                    data-target="#myCarousel" data-slide-to="13" aria-label="{{ page.g14dsc }}" role="img">
                    <img
                      src="{{ page.g14thumb | relative_url }}"
                      class="img-fluid" loading="lazy" decoding="async" alt="{{ page.g14alt }}">
                  </div>
                  <div id="carousel-selector-14" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="14" aria-label="{{ page.g15dsc }}" role="img">
                    <img
                      src="{{ page.g15thumb | relative_url }}"
                      class="img-fluid" loading="lazy" decoding="async" alt="{{ page.g15alt }}">
                  </div>
                  <div id="carousel-selector-15" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="15" aria-label="{{ page.g16dsc }}" role="img">
                    <img
                      src="{{ page.g16thumb | relative_url }}"
                      class="img-fluid" loading="lazy" decoding="async" alt="{{ page.g16alt }}">
                  </div>
                  <div id="carousel-selector-16" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="16" aria-label="{{ page.g17dsc }}" role="img">
                    <img
                      src="{{ page.g17thumb | relative_url }}"
                      class="img-fluid" loading="lazy" decoding="async" alt="{{ page.g17alt }}">
                  </div>
                  <div id="carousel-selector-17" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="17" aria-label="{{ page.g18dsc }}" role="img">
                    <img
                      src="{{ page.g18thumb | relative_url }}"
                      class="img-fluid" loading="lazy" decoding="async" alt="{{ page.g18alt }}">
                  </div>

                </div>
              </div>
              <div class="carousel-item ">
                <div class="row mx-0">
                  <div id="carousel-selector-18" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="18" aria-label="{{ page.g19dsc }}" role="img">
                    <img
                      src="{{ page.g19thumb | relative_url }}"
                      class="img-fluid" loading="lazy" decoding="async" alt="{{ page.g19alt }}">
                  </div>
                  <div id="carousel-selector-19" class="thumb col-4 col-sm-2 px-1 py-2 selected"
                    data-target="#myCarousel" data-slide-to="19" aria-label="{{ page.g20dsc }}" role="img">
                    <img
                      src="{{ page.g20thumb | relative_url }}"
                      class="img-fluid" loading="lazy" decoding="async" alt="{{ page.g20alt }}">
                  </div>
                  <div id="carousel-selector-20" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="20" aria-label="{{ page.g21dsc }}" role="img">
                    <img
                      src="{{ page.g21thumb | relative_url }}"
                      class="img-fluid" loading="lazy" decoding="async" alt="{{ page.g21alt }}">
                  </div>
                  <div id="carousel-selector-21" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="21" aria-label="{{ page.g22dsc }}" role="img">
                    <img
                      src="{{ page.g22thumb | relative_url }}"
                      class="img-fluid" loading="lazy" decoding="async" alt="{{ page.g22alt }}">
                  </div>
                  <div id="carousel-selector-22" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="22" aria-label="{{ page.g23dsc }}" role="img">
                    <img
                      src="{{ page.g23thumb | relative_url }}"
                      class="img-fluid" loading="lazy" decoding="async" alt="{{ page.g23alt }}">
                  </div>
                  <div id="carousel-selector-23" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                    data-slide-to="23" aria-label="{{ page.g24dsc }}" role="img">
                    <img
                      src="{{ page.g24thumb | relative_url }}"
                      class="img-fluid" loading="lazy" decoding="async" alt="{{ page.g24alt }}">
                  </div>

                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-thumbs" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-thumbs" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>