<!-- hero -->
<div class="hero" {% if page.banner %}style="background-image: url('{{ page.banner | relative_url }}');"{% endif %}>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="https://www.macmillanfilms.com/" target="_blank"><img src="{{ '/assets/img/logo.png' | relative_url }}" class="img-fluid logo"
            alt="Macmillan Films"></a>
      </div>
      <div class="col-md-8">
        <div class="main-text">
          <a href="{{ '/' | relative_url }}"><img src="{{ '/assets/img/main-text.svg' | relative_url }}" class="img-fluid"
            alt="True Drama"></a>
        </div>
      </div>
      <div class="col-md-12">
        <div class="follow text-white">
          Follow: <a href="https://www.facebook.com/james.thomas.DRAMA/" target="_blank"><i
              class="fa fa-facebook-square ml-1"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
