<head>
  <meta charset=utf-8>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta property="og:title" content="{{ site.author }} | {{ site.title }}" />
  <meta property="og:locale" content="en_US" />
  <meta name="description"
    content="{{ site.description }}" />
  <meta property="og:description"
    content="{{ site.description }}" />
  <meta property="og:image" content="{{ '/assets/img/about.jpg' | absolute_url }}">
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:type" content="video.movie" />
  <meta itemprop="image" content="{{ site.image | absolute_url }}" />
  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <meta itemprop="addressLocality" content="Old Greenwich" />
    <meta itemprop="addressRegion" content="CT" />
    <meta itemprop="postalCode" content="06870" />
  </div>
 
  <meta itemprop="url" content="{{ site.url }}">
  <meta itemprop="email" content="james@macmillanfilms.com">

  <link href="{{ '/assets/img/favicon.png'  | relative_url }}" rel="shortcut icon" />
  <title>{{ site.title }}</title>

  <meta name="keywords" content="True Drama, Horror,  Macmillan Films">
  <link href="{{ '/assets/css/bootstrap.min.css'  | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/css/font-awesome.css'  | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/css/ekko-lightbox.css'  | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/css/custome.css'  | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/css/responsive.css'  | relative_url }}" rel="stylesheet">
  <link rel="stylesheet" href="https://s.pageclip.co/v1/pageclip.css" media="screen">
</head>
