<!-- menu -->
<div class="menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-expand-sm navbar-dark alphabet-listing p-0">
          <ul id="menu-links" class="navbar-nav list-unstyled list-inline mb-0">
            {% unless page.url == '/' -%}
            <li class="nav-item">
              <a href="{{ '/' | relative_url }}" class="nav-link text-uppercase">Home</a>
            </li>
            {%- endunless %}
            <li class="nav-item">
              <a href="#about" class="nav-link text-uppercase">About</a>
            </li>
            <li class="nav-item">
              <a href="#trailer" class="nav-link text-uppercase">Trailers</a>
            </li>
            <li class="nav-item">
              <a href="#gallery" class="nav-link text-uppercase">Gallery</a>
            </li>
            <li class="nav-item">
              <a href="#watchit" class="nav-link text-uppercase">Watch it</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>