<!-- trailer -->
<div class="trailer" id="trailer">
  <div class="border-title-box">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="border-title text-uppercase">Trailers</div>
        </div>
      </div>
    </div>
  </div>
  <div class="trailer-box">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center p-0">
          <div class="ratio ratio-16x9">
            <a id="youtube-video" href="https://youtu.be/{{ page.youtube | default: 'fz2SIyeKMIg'}}" data-youtube="{{ page.youtube | default: 'fz2SIyeKMIg'}}" target="_blank">
              <picture>
                <source srcset="https://i.ytimg.com/vi_webp/{{ page.youtube | default: 'fz2SIyeKMIg'}}/maxresdefault.webp" type="image/webp" />
                <img src="https://i.ytimg.com/vi/{{ page.youtube | default: 'fz2SIyeKMIg'}}/maxresdefault.jpg" alt="Watch the Trailer"
                  class="img-fluid object-fit-cover"  width="1280" height="720"/>
              </picture>
              <i class="fa-brands fa-youtube position-absolute top-50 start-50 translate-middle" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>