<!-- trailer -->
<div class="trailer" id="trailer">
  <div class="border-title-box">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="border-title">TRAILERS</div>
        </div>
      </div>
    </div>
  </div>
  <div class="trailer-box">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center p-0">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fz2SIyeKMIg"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
