<!-- watchit -->
<div class="watchit" id="watchit">
  <div class="border-title-box">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="border-title">WATCH IT</div>
        </div>
      </div>
    </div>
  </div>
  <div class="watchit-box">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-left">
          <p class="text-white">Please join our <a href="javascript:void();" class="underline mail-link"
              data-toggle="modal" data-target="#maillist">mailing list</a> so that you can view TRUE DRAMA
            upon
            release. </p>
          <p class="text-white">Film festivals, distribributors, reviewers and college professors, please <a
              href="mailto:james@brandapplause.com" class="underline mail-link">e-mail</a> for pre-release
            viewing.
          </p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>