---
layout: actor-default
---

<div class="about pb-0" id="about">
    <div class="border-title-box">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="border-title">{{ page.title }}</div>
        </div>
      </div>
    </div>
  </div>
 <div class="about-box">
    <div class="container">
       
      <div class="row">
         <div class="col-md-12 col-lg-12">
            <p class="text-white">
              {{ page.article }}
          </p>
          </div>
            <div class="col-md-12 col-lg-12">
                <div class="media d-block d-md-flex">
                        <img src="{{ '/assets/img/about-actor.jpg'  | relative_url }}" class="img-fluid mr-0 mr-md-4" alt="About True Drama">
                    <div class="media-body">
                            <div class="title">SUMMARY</div>
         
                                  <div class="text-white">
                                      <div id="other-stuff">
                                       {{ page.aside}}
                                      </div>
                                  </div>
                            </div>
                </div>
          </div>
        

      </div>
        </div>
    </div>
  </div>


<!-- gallery -->
<div class="gallery gallery-cust" id="gallery">
  <div class="border-title-box">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="border-title">gallery</div>
        </div>
      </div>
    </div>
  </div>
  <div class="gallery-box">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-lg-12 text-center p-0">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-slide-number="0"
                aria-label="{{ page.g001dsc }}" role="img">
                <img src="{{ page.gallery001 | relative_url }}" class="d-block w-100" alt="{{ page.g001alt }}"
                  data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="1"
                aria-label="{{ page.g01dsc }}" role="img">
                <img src="{{ page.gallery01 | relative_url }}" class="d-block w-100" alt="{{ page.g01alt }}"
                  data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="2"
                aria-label="{{ page.g02dsc }}" role="img">
                <img src="{{ page.gallery02 | relative_url }}" class="d-block w-100" alt="{{ page.g02alt }}"
                  data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="3"
                aria-label="{{ page.g03dsc }}" role="img">
                <img src="{{ page.gallery03 | relative_url }}" class="d-block w-100" alt="{{ page.g03alt }}"
                  data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="4" aria-label="{{ page.g04dsc }}"
                role="img">
                <img src="{{ page.gallery04 | relative_url }}" class="d-block w-100" alt="{{ page.g04alt }}"
                  data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="5"
                aria-label="{{ page.g05dsc }}" role="img">
                <img src="{{ page.gallery05 | relative_url }}" class="d-block w-100" alt="{{ page.g05alt }}"
                  data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              <div class="carousel-item" data-slide-number="6"
                aria-label="{{ page.g06dsc }}"
                role="img">
                <img src="{{ page.gallery06 | relative_url }}" class="d-block w-100" alt="{{ page.g06alt }}"
                  data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
              

                 <div class="carousel-item" data-slide-number="7"
                aria-label="{{ page.g07dsc }}"
                role="img">
                <img src="{{ page.gallery07 | relative_url }}" class="d-block w-100" alt="{{ page.g07alt }}"
                  data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>

 <div class="carousel-item" data-slide-number="8"
                aria-label="{{ page.g08dsc }}"
                role="img">
                <img src="{{ page.gallery08 | relative_url }}" class="d-block w-100" alt="{{ page.g08alt }}"
                  data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
 <div class="carousel-item" data-slide-number="9"
                aria-label="{{ page.g09dsc }}"
                role="img">
                <img src="{{ page.gallery09 | relative_url }}" class="d-block w-100" alt="{{ page.g09alt }}"
                  data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
 <div class="carousel-item" data-slide-number="10"
                aria-label="{{ page.g10dsc }}"
                role="img">
                <img src="{{ page.gallery10 | relative_url }}" class="d-block w-100" alt="{{ page.g10alt }}"
                  data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
 <div class="carousel-item" data-slide-number="11"
                aria-label="{{ page.g11dsc }}"
                role="img">
                <img src="{{ page.gallery11 | relative_url }}" class="d-block w-100" alt="{{ page.g11alt }}"
                  data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
 <div class="carousel-item" data-slide-number="12"
                aria-label="{{ page.g12dsc }}"
                role="img">
                <img src="{{ page.gallery12 | relative_url }}" class="d-block w-100" alt="{{ page.g12alt }}"
                  data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
 <div class="carousel-item" data-slide-number="13"
                aria-label="{{ page.g13dsc }}"
                role="img">
                <img src="{{ page.gallery13 | relative_url }}" class="d-block w-100" alt="{{ page.g13alt }}"
                  data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
 <div class="carousel-item" data-slide-number="14"
                aria-label="{{ page.g14dsc }}"
                role="img">
                <img src="{{ page.gallery14 | relative_url }}" class="d-block w-100" alt="{{ page.g14alt }}"
                  data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
 <div class="carousel-item" data-slide-number="15"
                aria-label="{{ page.g15dsc }}"
                role="img">
                <img src="{{ page.gallery15 | relative_url }}" class="d-block w-100" alt="{{ page.g15alt }}"
                  data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
 <div class="carousel-item" data-slide-number="16"
                aria-label="{{ page.g16dsc }}"
                role="img">
                <img src="{{ page.gallery16 | relative_url }}" class="d-block w-100" alt="{{ page.g16alt }}"
                  data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
 <div class="carousel-item" data-slide-number="17"
                aria-label="{{ page.g17dsc }}"
                role="img">
                <img src="{{ page.gallery17 | relative_url }}" class="d-block w-100" alt="{{ page.g17alt }}"
                  data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
 <div class="carousel-item" data-slide-number="18"
                aria-label="{{ page.g18dsc }}"
                role="img">
                <img src="{{ page.gallery18 | relative_url }}" class="d-block w-100" alt="{{ page.g18alt }}"
                  data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
 <div class="carousel-item" data-slide-number="19"
                aria-label="{{ page.g19dsc }}"
                role="img">
                <img src="{{ page.gallery19 | relative_url }}" class="d-block w-100" alt="{{ page.g19alt }}"
                  data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
 <div class="carousel-item" data-slide-number="20"
                aria-label="{{ page.g20dsc }}"
                role="img">
                <img src="{{ page.gallery20 | relative_url }}" class="d-block w-100" alt="{{ page.g20alt }}"
                  data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
 <div class="carousel-item" data-slide-number="21"
                aria-label="{{ page.g21dsc }}"
                role="img">
                <img src="{{ page.gallery21 | relative_url }}" class="d-block w-100" alt="{{ page.g21alt }}"
                  data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
 <div class="carousel-item" data-slide-number="22"
                aria-label="{{ page.g22dsc }}"
                role="img">
                <img src="{{ page.gallery22 | relative_url }}" class="d-block w-100" alt="{{ page.g22alt }}"
                  data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>
 <div class="carousel-item" data-slide-number="23"
                aria-label="{{ page.g23dsc }}"
                role="img">
                <img src="{{ page.gallery23 | relative_url }}" class="d-block w-100" alt="{{ page.g23alt }}"
                  data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
              </div>



            </div>
          </div>

          <!-- Carousel Navigation -->
          <div id="carousel-thumbs" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row mx-0">
                    <div id="carousel-selector-0" class="thumb col-4 col-sm-2 px-1 py-2 selected"
                    data-target="#myCarousel" data-slide-to="0"
                    aria-label="{{ page.g001dsc }}" role="img">
                    <img src="{{ page.thumbgallery001 | relative_url }}" class="img-fluid"
                      alt="{{ page.g001alt }}">
                  </div>
                  <div id="carousel-selector-1" class="thumb col-4 col-sm-2 px-1 py-2 "
                    data-target="#myCarousel" data-slide-to="1"
                    aria-label="{{ page.g01dsc }}" role="img">
                    <img src="{{ page.thumbgallery01 | relative_url }}" class="img-fluid"
                      alt="{{ page.g01alt }}">
                  </div>
                  <div id="carousel-selector-2" class="thumb col-4 col-sm-2 px-1 py-2"
                    data-target="#myCarousel" data-slide-to="2"
                    aria-label="{{ page.g02dsc }} " role="img">
                    <img src="{{ page.thumbgallery02 | relative_url }}" class="img-fluid"
                      alt="{{ page.g02alt }}">
                  </div>
                  <div id="carousel-selector-3" class="thumb col-4 col-sm-2 px-1 py-2"
                    data-target="#myCarousel" data-slide-to="3"
                    aria-label="{{ page.g03dsc }}" role="img">
                    <img src="{{ page.thumbgallery03 | relative_url }}" class="img-fluid"
                      alt="{{ page.g03alt }}">
                  </div>
                  <div id="carousel-selector-4" class="thumb col-4 col-sm-2 px-1 py-2"
                    data-target="#myCarousel" data-slide-to="4"
                    aria-label="{{ page.g04dsc }}" role="img">
                    <img src="{{ page.thumbgallery04 | relative_url }}" class="img-fluid"
                      alt="{{ page.g04alt }}">
                  </div>
                  <div id="carousel-selector-5" class="thumb col-4 col-sm-2 px-1 py-2"
                    data-target="#myCarousel" data-slide-to="5"
                    aria-label="{{ page.g05dsc }}" role="img">
                    <img src="{{ page.thumbgallery05 | relative_url }}" class="img-fluid"
                      alt="{{ page.g05alt }}">
                  </div>
                  

                </div>
              </div>

      <div class="carousel-item ">
                <div class="row mx-0">
<div id="carousel-selector-6" class="thumb col-4 col-sm-2 px-1 py-2"
                    data-target="#myCarousel" data-slide-to="6"
                    aria-label="{{ page.g06dsc }}"
                    role="img">
                    <img src="{{ page.thumbgallery06 | relative_url }}" class="img-fluid"
                      alt="{{ page.g06alt }} ">
                  </div>
                  <div id="carousel-selector-7" class="thumb col-4 col-sm-2 px-1 py-2 selected"
                    data-target="#myCarousel" data-slide-to="7"
                    aria-label="{{ page.g07dsc }}" role="img">
                    <img src="{{ page.thumbgallery07 | relative_url }}" class="img-fluid"
                      alt="{{ page.g07alt }}">
                  </div>
                  <div id="carousel-selector-8" class="thumb col-4 col-sm-2 px-1 py-2"
                    data-target="#myCarousel" data-slide-to="8"
                    aria-label="{{ page.g08dsc }} " role="img">
                    <img src="{{ page.thumbgallery08 | relative_url }}" class="img-fluid"
                      alt="{{ page.g08alt }}">
                  </div>
                  <div id="carousel-selector-9" class="thumb col-4 col-sm-2 px-1 py-2"
                    data-target="#myCarousel" data-slide-to="9"
                    aria-label="{{ page.g09dsc }}" role="img">
                    <img src="{{ page.thumbgallery09 | relative_url }}" class="img-fluid"
                      alt="{{ page.g09alt }}">
                  </div>
                  <div id="carousel-selector-10" class="thumb col-4 col-sm-2 px-1 py-2"
                    data-target="#myCarousel" data-slide-to="10"
                    aria-label="{{ page.g10dsc }}" role="img">
                    <img src="{{ page.thumbgallery10 | relative_url }}" class="img-fluid"
                      alt="{{ page.g10alt }}">
                  </div>
                  <div id="carousel-selector-11" class="thumb col-4 col-sm-2 px-1 py-2"
                    data-target="#myCarousel" data-slide-to="11"
                    aria-label="{{ page.g11dsc }}" role="img">
                    <img src="{{ page.thumbgallery11 | relative_url }}" class="img-fluid"
                      alt="{{ page.g11alt }}">
                  </div>
                  

                </div>
              </div>

<div class="carousel-item ">
                <div class="row mx-0">
<div id="carousel-selector-12" class="thumb col-4 col-sm-2 px-1 py-2"
                    data-target="#myCarousel" data-slide-to="12"
                    aria-label="{{ page.g12dsc }}"
                    role="img">
                    <img src="{{ page.thumbgallery12 | relative_url }}" class="img-fluid"
                      alt="{{ page.g12alt }} ">
                  </div>
                  <div id="carousel-selector-13" class="thumb col-4 col-sm-2 px-1 py-2 selected"
                    data-target="#myCarousel" data-slide-to="13"
                    aria-label="{{ page.g13dsc }}" role="img">
                    <img src="{{ page.thumbgallery13 | relative_url }}" class="img-fluid"
                      alt="{{ page.g13alt }}">
                  </div>
                  <div id="carousel-selector-14" class="thumb col-4 col-sm-2 px-1 py-2"
                    data-target="#myCarousel" data-slide-to="14"
                    aria-label="{{ page.g14dsc }} " role="img">
                    <img src="{{ page.thumbgallery14 | relative_url }}" class="img-fluid"
                      alt="{{ page.g14alt }}">
                  </div>
                  <div id="carousel-selector-15" class="thumb col-4 col-sm-2 px-1 py-2"
                    data-target="#myCarousel" data-slide-to="15"
                    aria-label="{{ page.g15dsc }}" role="img">
                    <img src="{{ page.thumbgallery15 | relative_url }}" class="img-fluid"
                      alt="{{ page.g15alt }}">
                  </div>
                  <div id="carousel-selector-16" class="thumb col-4 col-sm-2 px-1 py-2"
                    data-target="#myCarousel" data-slide-to="16"
                    aria-label="{{ page.g16dsc }}" role="img">
                    <img src="{{ page.thumbgallery16 | relative_url }}" class="img-fluid"
                      alt="{{ page.g16alt }}">
                  </div>
                  <div id="carousel-selector-17" class="thumb col-4 col-sm-2 px-1 py-2"
                    data-target="#myCarousel" data-slide-to="17"
                    aria-label="{{ page.g17dsc }}" role="img">
                    <img src="{{ page.thumbgallery17 | relative_url }}" class="img-fluid"
                      alt="{{ page.g17alt }}">
                  </div>
                  

                </div>
              </div>
<div class="carousel-item ">
                <div class="row mx-0">
<div id="carousel-selector-18" class="thumb col-4 col-sm-2 px-1 py-2"
                    data-target="#myCarousel" data-slide-to="18"
                    aria-label="{{ page.g18dsc }}"
                    role="img">
                    <img src="{{ page.thumbgallery18 | relative_url }}" class="img-fluid"
                      alt="{{ page.g18alt }} ">
                  </div>
                  <div id="carousel-selector-19" class="thumb col-4 col-sm-2 px-1 py-2 selected"
                    data-target="#myCarousel" data-slide-to="19"
                    aria-label="{{ page.g19dsc }}" role="img">
                    <img src="{{ page.thumbgallery19 | relative_url }}" class="img-fluid"
                      alt="{{ page.g19alt }}">
                  </div>
                  <div id="carousel-selector-20" class="thumb col-4 col-sm-2 px-1 py-2"
                    data-target="#myCarousel" data-slide-to="20"
                    aria-label="{{ page.g20dsc }} " role="img">
                    <img src="{{ page.thumbgallery20 | relative_url }}" class="img-fluid"
                      alt="{{ page.g20alt }}">
                  </div>
                  <div id="carousel-selector-21" class="thumb col-4 col-sm-2 px-1 py-2"
                    data-target="#myCarousel" data-slide-to="21"
                    aria-label="{{ page.g21dsc }}" role="img">
                    <img src="{{ page.thumbgallery21 | relative_url }}" class="img-fluid"
                      alt="{{ page.g21alt }}">
                  </div>
                  <div id="carousel-selector-22" class="thumb col-4 col-sm-2 px-1 py-2"
                    data-target="#myCarousel" data-slide-to="22"
                    aria-label="{{ page.g22dsc }}" role="img">
                    <img src="{{ page.thumbgallery22 | relative_url }}" class="img-fluid"
                      alt="{{ page.g22alt }}">
                  </div>
                  <div id="carousel-selector-23" class="thumb col-4 col-sm-2 px-1 py-2"
                    data-target="#myCarousel" data-slide-to="23"
                    aria-label="{{ page.g23dsc }}" role="img">
                    <img src="{{ page.thumbgallery23 | relative_url }}" class="img-fluid"
                      alt="{{ page.g23alt }}">
                  </div>
                  

                </div>
              </div>
              
            </div>
            <a class="carousel-control-prev" href="#carousel-thumbs" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-thumbs" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- trailer -->
<div class="trailer trailer-cust" id="trailer">
  <div class="border-title-box">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="border-title">TRAILERS</div>
        </div>
      </div>
    </div>
  </div>
  <div class="trailer-box">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center p-0">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ page.youtube  }}"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


        
        
