---
layout: default
---

<div class="about pb-0" id="about">
  <div class="border-title-box">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="border-title text-uppercase">{{ page.title }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-box">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <p class="text-white">
            {{ page.article }}
          </p>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="media d-block d-md-flex">
            <img src="{{ '/assets/img/about-actor.jpg'  | relative_url }}" class="img-fluid me-0 me-md-4"
              alt="About True Drama">
            <div class="media-body">
              <div class="title">SUMMARY</div>

              <div class="text-white">
                <div id="other-stuff">
                  {{ page.aside}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>